<!DOCTYPE html>
<html lang="fr">
<head>
    {% block entete %}{% endblock %}
</head>
<header>
    {% block header %}{% endblock %}
</header>
    <body>
        {% block content %}{% endblock %}
    </body>
<footer>
    {% block footer %}{% endblock %}
</footer>
</html>