{% block header %}
    <a class="space"></a>
    <ul class="topnav" id="myTopnav">
        <a href="./admin" class="active" >Accueil</a>
        <a href="./gestion-questionnaire" >Questionnaire</a>
        <a href="./gestion-administrateur" >Créer compte</a>
        <a href="./gestion-utilisateur" >Utilisateurs</a>
        <a href="./espace-personnel" >Espace Admin</a>
        <a href="./deconnexion" >Se déconnecter</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <img class="imgDeroulant" src="./images/Black_arrow.png" alt="Menu Déroulant" width="26">
        </a>
        <p class="logoNavbar"><img src="./images/logo_web.png" alt="Logo du site web" width="60"></p>
    </ul>
{% endblock %}